/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*设置每一列内容居中，每一行高度*/
.table-row-cell{
    -fx-cell-size: 25px;
    -fx-alignment: center;
}
#TableView .table-column{
  -fx-alignment: center;
}